@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 50, 50, 50;
  --background: 245, 245, 245;
  --primary: 0, 122, 204;
  --primary-hover: 0, 101, 168;
}

:root,
html,
body {
  height: 100%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  li {
    @apply list-none;
  }
}
